extends ../node_modules/jade-bootstrap/_bootstrap.pug
block body
  h1 Put your own body content here

  h1= title
  p Welcome to #{title}
  p #{text}
  p Callback:

    table
      tbody
        each item, index in results
          tr
            td= index
            td= item
